*{
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ubuntu', sans-serif;
}

li>a{
  text-decoration: none;
  color: #fff;
}

li>a:hover{
  color: #fff;
}

.active{
  border-bottom: 3px solid #0b5ed7;
  font-weight: bold;
  color: #0b5ed7 !important;
}